.contact{
    background-color: purple;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: white;
    position: absolute;
    bottom: 50px;
    right: 50px;
}