.modal-overlay{
    z-index: 100;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    /* padding: 20px; */
}

.modal{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 70%;
    height: 70%;
    padding: 10px;
}
.btn-modal{
    display: flex;
    width: 100px;
    height: 50px;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
}
@media (max-width: 768px) {
    .modal{
        width: 100%;
    } 
    
}  