.navbar{
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}

.btn-dash{
    color: purple;
    border: none;
    background-color: transparent;
    text-decoration: underline;
    font-size: 16px;
}