.tasklist{
    display: flex;
    gap: 50;
    flex-direction: column;
    background-color: lightgray;
    padding: 50px 0px;
}

.task-outer{
    align-self: center;
    width: 500px;
}
.nav-task{
    width: 60%;
    align-self: center;
    display: flex;
    justify-content: space-between;
}
.addtask{
    width: 100%;
    display: flex;
    gap: 50px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    -webkit-box-shadow: 3px 3px 23px 1px rgba(0,0,0,0.27); 
box-shadow: 3px 3px 23px 1px rgba(0,0,0,0.27);
}
.input-task{
    width: 100%;
}
.task-lable{
    margin-bottom: 10px;
}
.input-task input{
    width: 100%;
    height: 40px;
    padding-left: 20px;
    border-radius: 10px;
    border: 0.1em solid lightgrey;
    
}
.task-priority{
    margin-bottom: 10px;
}
.priority{
    width: 100%;
}
.pr-btn-group{
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.btn-low, .btn-med, .btn-high{
    width: 120px;
    height: 40px;
    background-color: transparent;
    border: none;
    border-radius: 4px;
}
.btn-high{
    color: red;
    border: 1px solid red;
}
.btn-med{
    color: orange;
    border: 1px solid orange;
}
.btn-low{
    color: lime;
    border: 1px solid lime;
}

.btn-low:focus{
    background-color: lime;
    color: white;
} 
.btn-med:focus{
    background-color: orange;
    color: white;
} 
.btn-high:focus{
    background-color: red;
    color: white;
}

.btn-add{
    padding: 5px 10px;
    color: white;
    background-color: blue;
    border-radius: 5px;
    border: none;
}

.btn-add-task{
    align-self: flex-end;
    background-color: blue;
    color: white;
    padding: 15px 30px;
    font-size: 21px;
    border: none;
    border-radius: 5px;
}

/* TASK */

.task-inner{
    background-color: white;
    padding: 10px;
    width: 80%;
    position: relative;
    align-self: center;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    -webkit-box-shadow: 13px 13px 23px 8px rgba(0,0,0,0.24); 
box-shadow: 13px 13px 23px 8px rgba(0,0,0,0.24);
}
.prior-in, .task-in .progress{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    width: 100%;
    padding-left: 10px;

}
.task-in h4, .prior-in h4{
width: 200px;
font-size: 1.4rem;

}
.task-inner p{
    font-size: 1.2rem;
}

.icons{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    width: 100%;
    cursor: pointer;
    
}
.progress{
    width: 220px ;
    cursor: pointer;
    position: relative;
}
.progress p{
    font-size: 1.2em;
}
.animate-progress{
    animation: colorChange 2s ease infinite;

}
.progress ul{
    list-style: none;    
    width: 100%;
}
.progress ul li{
    font-size: 1.4em;
    width: 200px;
    font-weight: bold;
}

@keyframes colorChange {
    0%{
        color: black;
    }50%{
        color: greenyellow;
    }100%{
        color: black;
    }
}
.circle{
    background-color: greenyellow;
    height: 1.1rem !important;
    border-radius: 5rem 5rem  ;
    transition: all 1s ease;
    position: absolute;
    left: 100%;
    top: 20px;
    transform-style: preserve-3d;
}
.circle::after{
    content: "";
    background-color: grey;
    width: 50px;
    height: 1.1rem;
    /* z-index: -1; */
    left: 0px;
    top: 0px;
    transform: translateZ(-1px);
    position: absolute;
    border-radius: 5rem;
}

.info{
    background-color: blue;
    color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    padding: 5px;
}
.span-info{
    background-color: transparent;
    color: white;
    border: none;

}
.info-text{
    color: black;
    align-self: center;
    margin-bottom: 20px;
}
.clear{
    align-self: flex-end;
    margin: 20px 100px;
}
.btn-clear{
    background-color: red;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    color: white;
    -webkit-box-shadow: 3px 3px 23px 1px rgba(0,0,0,0.27); 
box-shadow: 3px 3px 23px 1px rgba(0,0,0,0.27);
}
@media (max-width: 928px) {
    .task-inner{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        place-items: center;
        gap: 0px;
        
    }
    .task-in{
        width: 150px;
    }
    .prior-in{
        width: 150px;
    }
    .task-inner p{
        font-size: 1rem;
    }
    .task-inner h4{
        font-size: 1rem;
    }
    .circle{
        left: 150px;
        top: 10px;
    }
    
    .progress{
        width:200px;
    }
    .progress ul li{
        font-size: 1rem;
    }
    .icons{
        width: 100%;    
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        gap: 0px;
    }
}
@media (max-width: 678px) {
    .task-inner{
        display:flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 25px;
    }   
    .progress{
        margin-left: 10px;
    }
    .task-in{
        margin-left: 10px;
    }
    .task-outer{
        width: 100%;
        margin-top: 20px;
    }
    .pr-btn-group{
        gap: 5px;
    }
}
